.document
	h1.document__title Запись
	table(border=1)
		tr
			th Текст
			td.document__text #{document.text}
		tr
			th uid
			td.document__text-uid #{document.text_uid}
		tr
			th exceptdomain
			td.document__exceptdomain #{document.exceptdomain}
		tr
			th excepturl
			td.document__excepturl #{document.excepturl}
		tr
			th text_unique
			td.document__text-unique #{document.text_unique}		


